*
  color: #fff
  font-family: Ubuntu, sans-serif
  box-sizing: border-box

body
  background-color: #0B0B0B

.header
  display: flex
  align-items: center
  justify-content: space-around
  padding-top: 10px

  &__navigation
    display: flex
    align-items: center
    justify-content: center
    &_link
      text-decoration: none
      margin-right: 30px
      font-size: 16px
      letter-spacing: 0.1rem
      line-height: 24px
      &:last-child
        margin-right: 0

  &__company_info
    display: flex
    flex-direction: column
    align-items: flex-end

.phone__number
  font-size: 24px
  font-weight: 500
  text-decoration: none
  line-height: 38px

.main
  position: relative
  margin: 0 auto

  &__bg
    position: absolute
    width: 730px
    transform: matrix(-1, 0, 0, 1, 0, 0)
    z-index: -1
    right: 0
    top: 0
    background-color: transparent

.information
  display: flex
  flex-direction: column
  margin-top: 180px
  padding-left: 100px

  &__title
    display: flex
    flex-direction: column
    font-weight: 500
    font-size: 60px
    line-height: 68px
    margin: 0

    &-color
      color: #F44D34

  &__subtitle
    width: 453px
    color: #CCCCCC
    margin: 50px 0
    font-size: 24px

  &__button
    width: 453px
    padding: 20px 0
    font-weight: bold
    font-size: 24px
    line-height: 38px
    letter-spacing: 0.02rem
    color: #F44D34
    border: 1px solid #F44D34
    background: transparent

    &:hover
      color: #FFFFFF
      background: #F44D34
      border: 1px solid #F44D34
      cursor: pointer

.advantages
  margin: 0 auto
  margin-top: 285px
  width: 1208px
  padding-bottom: 120px
  display: flex
  flex-direction: column

  &__title
    margin: 0 0 60px 0
    font-weight: 500
    font-size: 38px
    line-height: 50px

  &__description
    margin: 0 auto
    display: flex
    flex-wrap: wrap
    justify-content: center
    row-gap: 40px
    column-gap: 60px

.description__item
  display: flex
  align-items: center
  width: 574px
  height: 128px

  &___image
    width: 128px
    height: 128px

  &_info
    display: flex
    flex-direction: column
    margin-left: 20px

    &_title
      margin: 0 0 10px 0
      font-weight: 500
      font-size: 24px
      line-height: 38px
      color: #F44D34

    &_text
      line-height: 30px
      color: #CCCCCC

.description__wrapper
  width: 1208px
  margin: 0 auto
  padding: 120px 0
  display: flex
  flex-direction: column

.description
  background: #ffffff

  &__header
    max-width: 570px
    display: flex
    flex-direction: column

    &_title
      margin: 0 0 40px 0
      font-weight: bold
      font-size: 38px
      line-height: 50px
      color: #131313

    &_subtitle
      font-size: 16px
      line-height: 30px
      color: #4D4D4D
      margin: 0

  &__info
    display: flex
    justify-content: center
    align-items: start
    margin-top: 40px

    &-part
      margin-top: 50px

    &_image
      margin: 0 4px
      width: 458px
      height: 650px

    &_item, .price__item_description
      position: relative
      overflow: hidden
      display: flex
      flex-direction: column
      color: #131313
      width: 368px
      border-top: 1px solid rgba(77, 77, 77, 0.3)

      &:last-child
        border-bottom: 1px solid rgba(77, 77, 77, 0.3)

      & input
        position: absolute
        opacity: 0
        z-index: -1

        &:checked ~ .description__info_item_content
          max-height: 100vh

      & label
        color: #131313
        position: relative
        display: flex
        padding: 26px 0
        background: #ffffff
        font-weight: 500
        font-size: 24px
        line-height: 38px

      &_content
        max-height: 0
        overflow: hidden
        background: #ffffff
        -webkit-transition: max-height .35s
        -o-transition: max-height .35s
        transition: max-height .35s
        & p
          color: #131313
          font-size: 16px
          line-height: 30px
          margin: 0
          width: 336px
          margin-bottom: 26px

/* Icon */
.description__info_item, .price__item_description
  & label::after
    position: absolute
    right: 0
    display: block
    text-align: center
    -webkit-transition: all .35s
    -o-transition: all .35s
    transition: all .35s

  & input[type=checkbox] + label::after
    content: "+"

  & input[type=radio] + label::after
    content: "\25BC"

  & input[type=checkbox]:checked + label::after
    transform: rotate(315deg)

  & input[type=radio]:checked + label::after
    transform: rotateX(180deg)

.price
  width: 100%
  padding: 120px 0

  &__wrapper
    width: 1208px
    margin: 0 auto

  &__header
    margin: 0
    font-weight: 500
    font-size: 38px
    line-height: 50px

  &__item
    margin-top: 60px

    &_description
      color: #fff
      width: 100%
      border-top: 1px solid rgba(204, 204, 204, 0.5)

      &:last-child
        border-bottom: 1px solid rgba(204, 204, 204, 0.5)

      & input
        position: absolute
        opacity: 0
        z-index: -1

        &:checked ~ .price__item_description_content
          max-height: 100vh

      & label
        color: #ffffff
        position: relative
        display: flex
        padding: 30px 0
        font-weight: 500
        font-size: 24px
        line-height: 38px

      &_content
        display: flex
        flex-direction: column
        max-height: 0
        overflow: hidden
        -webkit-transition: max-height .35s
        -o-transition: max-height .35s
        transition: max-height .35s

.price__list
  display: flex
  justify-content: space-between
  width: 960px
  margin-bottom: 60px

  &_part
    display: flex
    flex-direction: column
    width: 450px

    & ul
      margin: 0
      padding: 0

    & li
      position: relative
      font-size: 16px
      line-height: 30px
      color: #CCCCCC
      list-style-type: none
      padding-left: 18px
      margin-bottom: 10px

      &:before
        position: absolute
        content: "\2B24"
        left: 0px

.price__order
  width: 960px
  display: flex
  justify-content: space-between
  align-items: center
  margin-bottom: 60px

  &_coast
    display: flex
    flex-direction: column

    &_title
      font-size: 16px
      color: rgba(255, 255, 255, 0.5)

    &_subtitle
      font-weight: bold
      font-size: 38px
      line-height: 50px

  &_button
    width: 450px
    padding: 20px 0
    display: flex
    align-items: center
    justify-content: center
    font-weight: bold
    font-size: 24px
    line-height: 38px
    text-align: center
    letter-spacing: 0.02em
    color: #F44D34
    background: transparent
    border: 1px solid #F44D34

    &:hover
      color: #FFFFFF
      background: #F44D34
      border: 1px solid #F44D34
      cursor: pointer

.contact
  width: 100%
  padding: 120px 0
  background: #fff

  &__wrapper
    margin: 0 auto
    width: 1200px

  &__title
    margin: 0
    font-weight: bold
    font-size: 38px
    line-height: 50px
    color: #131313

  &-form
    display: flex
    justify-content: space-between
    margin: 18px 0 40px 0
    align-items: flex-end

    &__input-wrapper
      display: flex
      flex-direction: column

    &__input
      padding: 7px 2px
      width: 370px
      border: none
      border-bottom: 1px solid #131313
      color: #131313

      &::placeholder
        font-size: 16px
        line-height: 30px
        color: rgba(77, 77, 77, 0.4)

    &__button
      width: 300px
      font-weight: bold
      font-size: 24px
      line-height: 38px
      text-align: center
      letter-spacing: 0.02em
      color: #F44D34
      padding: 20px 0
      background: transparent
      border: 2px solid #F44D34

      &:hover
        color: #FFFFFF
        background: #F44D34
        border: 2px solid #F44D34
        cursor: pointer

  &__subttile
    font-size: 12px
    line-height: 19px
    color: #4D4D4D
