*
  color: #fff
  font-family: Ubuntu, sans-serif

body
  background-color: #0B0B0B

.header
  display: flex
  align-items: center
  justify-content: space-around
  padding-top: 10px

  &__navigation
    display: flex
    align-items: center
    justify-content: center
    &_link
      text-decoration: none
      margin-right: 30px
      font-size: 16px
      letter-spacing: 0.1rem
      line-height: 24px
      &:last-child
        margin-right: 0

  &__company_info
    display: flex
    flex-direction: column
    align-items: flex-end

.phone__number
  font-size: 24px
  font-weight: 500
  text-decoration: none
  line-height: 38px

.main 
  position: relative

  &__bg
    position: absolute
    width: 730px
    transform: matrix(-1, 0, 0, 1, 0, 0)
    z-index: -1
    right: 0
    top: 0
    background-color: transparent

.information
  display: flex
  flex-direction: column
  margin-top: 180px
  padding-left: 100px

  &__title
    display: flex
    flex-direction: column
    font-weight: 500
    font-size: 60px
    line-height: 68px
    margin: 0

    &-color
      color: #F44D34      

  &__subtitle
    width: 453px
    color: #CCCCCC
    margin: 50px 0
    font-size: 24px

  &__button
    width: 453px
    padding: 20px 0
    font-weight: bold
    font-size: 24px
    line-height: 38px
    letter-spacing: 0.02rem
    color: #F44D34
    border: 2px solid #F44D34
    background: transparent

